@model List<Blog>

<div class="container mt-5">
    <h1>Blog Posts by @ViewBag.AuthorUsername</h1>

    <ul class="list-group">
        @foreach (var post in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id" class="text-decoration-none">@post.Title</a>
                <span class="badge bg-secondary float-end">@post.PublishedDate.ToShortDateString()</span>
            </li>
        }
    </ul>

    <div class="mt-4">
        <a asp-controller="Author" asp-action="Index" class="btn btn-secondary">Back to Authors</a>
    </div>
</div>